<style media="screen">

</style>
<a href="/admin">Back</a>
<h3>Events Dashboard</h3>
<div class='col-md-12'>
<div class='dashboard'>
</div>
</div>
<div class='col-md-12'>
<table class='animated slideInDown table table-bordered'>
  <thead>
    <tr class="success">
      <th>Name</th>
      <th>Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
    <td style='color: #993333; font-weight:bold; text-shadow: 1px 1px white; background-image: url(<%=event.image.url%>);'><%= event.name %></td>
    <td><%= event.address %></td>
    <td><form action='/events/<%= event.id %>' method='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='delete'>
        <input class="btn btn-danger"  data-toggle="tooltip" data-original-title="Delete your Event" type='submit' value='Delete'>
      </form></td>
    <tr>
      <% end %>
    </tbody>
    </table>
