<link rel="stylesheet/new.css" href="/stylesheets/new.css" media="screen">
<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip({
    placement : 'top'
  });
});
</script>
<br>
<nav class='navbar navbar-default' role='navigation' id='navbar'>
  <div class='container fluid'>
    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-picture"></span> E.N.Y.</a>
    <ul class="nav navbar-nav pull-right">
      <li class="active"><a href="/events/new"><span class="glyphicon glyphicon-pencil"></span> Start an Event<span class="sr-only">(current)</span></a></li>
      <li id="profileline"><span style="display:inline-block;"><a href="/users/<%=@user.id%>" style="background-image: url(<%=@user.image.url%>);" id='profile'>&nbsp; &nbsp; &nbsp;</a><a href="/user/<%=@user.id%>"> Profile <span class="glyphicon glyphicon-user"></span></a></span></li>
    </ul>
  </div>
</nav>

<div class='col-md-12'>
  <div class='header'>
    <div class='col-xs-8 col-sm-8 col-md-6 col-lg-6'>
      <h3>Welcome <%= @user.first_name %>!</h3><br><br><br><br>
      <h5><a href="/friendships/all">Total Connections: <%=current_user.friendships.count%></a><h5>
      </div>
      <div class='col-xs-4 col-sm-4 col-md-6 col-lg-6'>
        <div class='pull-right' id='members'>
          <h5> Total Members: <div class='circle'><a href="/friendships"><%= @users.count %></a></div></h5>
          <h5> Total Events Near You: <div class='circle'><a href="/events/near"><%= @events.count %></a></div></h5>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id='profileCircle'><%= image_tag @user.image.url(:thumb) %></div> -->
  <div class='row'>
    <ul class="nav nav-tabs pull-right">
      <li role="presentation" class="active"><a href="#">Current</a></li>
      <li role="presentation"><a href="/pevent/<%=@user.id %>">Past Events</a></li>
      <li role="presentation"><a href="/tables">Column View</a></li>
    </ul>
  </div>

  <div class='container'>
  <% @events.each do |e| %>
  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 animated rotateIn" id='eventbox'>
    <div style="border: 5px solid #<%=rand(0xffffff).to_s(16)%>; background-image:url(<%=e.image.url%>);" class='allevents'>

      <h5 class='eventinfo'><a id='eventname' href="/event/<%=e.id%>"><%= e.name %> </a><% if current_user == e.user %>
        <span class="glyphicon glyphicon-star-empty"></span>
        <%end%></h5>
        <p class='eventinfo'><%= e.date.strftime("%A - %b %d, %Y") %></p>

      </div>
    </div>
    <%end%>
  </div>
  <br>
</div>
