<style media="screen">
.nearEvents {
  max-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;;
  background-size: 100%;
}
.nearEvent {
  max-width: 200px;
  min-height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;;
  background-size: 100%;
}
.nearTitle{
  text-shadow: 1px solid black;
  font-family: Cambria;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
#back {
  margin-left: 15px;
}
</style>

<div class='row'>
    <a id='back'href="/users">Back</a>
    <h4 id='eventsJoined_title'>Events in <%=current_user.state%></h4>
    <div class='row' id='current'>
      <ul class="nav nav-tabs pull-right">
      <li role="presentation" class="active"><a href="#">Current</a></li>
      <li role="presentation"><a href="#past">Past Events</a></li>
      </ul>
    </div>
    <% @events.each do |event| %>
      <div class='col-xs-4 col-sm-3 col-md-3 col-lg-3'>
      <h5 class="nearTitle"><%= event.name %></h5>
      <a href="/event/<%=event.id%>"><div style="background-image:url(<%=event.image.url%>);" class='nearEvents'></div></a>
      </div>
    <%end%>
  </div>

<div class='row'>
    <h4 id='eventsJoined_title'>Past Events</h4>
    <div class='row' id='past'>
      <ul class="nav nav-tabs pull-right">
      <li role="presentation" ><a href="#current">Current</a></li>
      <li role="presentation" class="active"><a href="">Past Events</a></li>
      </ul>
    </div>
    <% @pasts.each do |past| %>
      <div class='col-xs-4 col-sm-3 col-md-3 col-lg-3'>
      <h5 class="nearTitle"><%= past.name %></h5>
      <a href="/event/<%=past.id%>"><div style="background-image:url(<%=past.image.url%>);" class='nearEvents'></div></a>
      </div>
    <%end%>
  </div>
