<style media="screen">
.board {
  background-image: url(http://designurge.com/wp-content/uploads/2013/10/corkboard.jpg);
  padding:20px;
  border: 10px solid #996600;
}
#comments {
  font-family: monospace;
  font-size: 17px;
  text-align: center;
  text-decoration: underline;
  color:navy;
}
#eventdirections {
  width:90px;
  height: 90px;
  border: 1px solid black;
  background-color: yellow;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding-top: 20px;
}
#eventpad {
  padding-top: 10px;
}

#map{
  height: 300px;
}
.nav navbar-nav {
  margin: 0 auto;
}
/*NEW==========*/

#event_title {
  font-family: Rockwell Extra Bold;
}
.joiners {
  display:inline-block;
}
.joinerimg {
  width:50px;
  height: 50px;
  border: 1px solid black;
}
/*=====host====*/
#event_image {
  max-width: 100%;
  min-height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;;
  background-size: 100%;
}
#user_image {
  max-width: 140px;
  min-height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;;
  background-size: 100%;
}

/*=======joiners====*/
#attendees {
  border: 1px solid black;
  margin-left: 5px;
  margin-right: -5px;
}

/*===discussion===*/
#rightPanel {
  padding-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#chatImage {
  width: 34px;
  border-radius: 17px;
  text-align: center;
  border: 1px solid lightgray;
}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#event_time {
  text-align: center;
}
#dashboard {
  margin-left: 175px;
}
</style>
<script>
$(document).ready(function(){
  // $('#eventComments').html(@json_message.message);
  $('#comment_form').submit(function(){
    $.post(
      $(this).attr('action'),
      $(this).serialize(),
      function(data){
        console.log('Data Received from the Ajax call', data);
        //put additional codes here to update html, etc.
        //for example things like
        $('#eventComments').html(data.message);
      },
      "json"
    );
    return false;
  });
});
</script>

<br><br>
<!-- =========== Top NavBar ============== -->
<nav class='navbar navbar-default'>
  <div class='container fluid'>
    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-picture"></span> E.N.Y.</a>
    <ul class="nav navbar-nav">
      <% if current_user == @event.user %>
      <li class="active"><a href="/events/<%=@event.id%>"><span class="glyphicon glyphicon-edit"></span> Edit Event<span class="sr-only">(current)</span></a></li>
      <li><a href="/users/<%=@user.id%>"><span class="glyphicon glyphicon-trash"></span> Delete Event</a></li>
      <!-- <li id='profileline' ><a href="" style="background-image: url(<%=@user.image.url%>);" id='profile'></a></li> -->
      <%end%>
      <li class="active"><a  href="/users">Main Page</a></li>
    </ul>
  </div>
</nav>

<!-- ============= Header ============= -->
<div class="page-header">
  <br>
  <h1 id='event_title' class='animated zoomIn'><%= @event.name %></h1>
  <br>

  <nav class='navbar navbar-default'>
    <div class='container fluid'>

      <a class="navbar-brand" href="#"></span>Home</a>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="/events/new">Photos<span class="sr-only">(current)</span></a></li>
        <li><a href="#comments">Discussions</a></li>
        <li><a href="/users/<%=@user.id%>"></a></li>
      </ul>
    </div>
  </nav>
</div>


<div class='container'>
  <div class='row'>
    <!-- ====== Host ======== -->
    <div class='col-xs-4 col-sm-2' id='leftPanel'>
      <div style="background-image:url(<%=@event.image.url%>);" id='event_image'></div>
      <h3><%=@event.county%></h3>
      <h4>California</h4>
      <hr>
      <h4>Organizer:</h4>
      <button style="color:#3399FF;opacity: 0.50;" class=" glyphicon glyphicon-user"><a href="/user/<%=@user.id%>">Profile</a></button><br><br>
      <div style="background-image:url(<%=@user.image.url%>);" id='user_image'></div>
      <h5><%=@user.first_name %> <%=@user.last_name %></h5>
      <p>Member Since: </p><p><%=@user.created_at.strftime("%b %d, %Y")%></p>
      <button style="color:#3399FF;opacity: 0.50;" class="btn-lg glyphicon glyphicon-envelope"> Contact</button>
    </div>





    <!-- ======= Joiners ======== -->
    <div class='col-xs-8 col-sm-6' id='attendees'>
      <div class='row'>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Upcoming</a></li>
          <!-- <li role="presentation"><a  href="#">Past Events</a></li> -->
          <li role="presentation"><a href="#">Reviews</a></li>
        </ul>
      </div>
      <p>
        <% if @event.joins.count == 1 %>
        <h5><%=@event.joins.count%> Person has joined this Event:</h5>
        <% @joins.each do |j| %>
        <div class="joiners"><img class='joinerimg' src="<%=j.user.image.url%>" alt="" /></div>
        <%end%>
        <% if @event.users_joined.include? current_user %>
        <form class="joiners" action="/joins" method="post">
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='_method' value='delete'>
          <input type='hidden' name='event_id' value='<%= @event.id %>'>
          <input type='hidden' name='user_id' value='<%= current_user.id%>'>
          <input class="btn btn-info" type='submit' value="Cancel">
        </form>
        <% else %>
        <form class="joiners" action='/joins' method='post'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='event_id' value='<%= @event.id %>'>
          <input type='hidden' name='user_id' value='<%= current_user.id %>'>
          <input class="btn btn-primary" type='submit' value='Join'>
        </form>
        <%end%>
        <%else%>
        <h5><%=@event.joins.count%> People have joined this Event:</h5>
        <% if @event.joins.count == 0 %>
        <div><h3 style="text-align:center; color:#993366">Be the first to Join this Event<h3>
          <form action='/joins' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='event_id' value='<%= @event.id %>'>
            <input type='hidden' name='user_id' value='<%= current_user.id %>'>
            <input class="btn btn-primary" type='submit' value='Join'>
          </form></div>
          <% else %>
          <% @joins.each do |j| %>
          <div class="joiners"><img class='joinerimg' src="<%=j.user.image.url%>" alt="" /></div>
          <%end%>
          <% if @event.users_joined.include? current_user %>
          <form class="joiners" action="/joins" method="post">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='delete'>
            <input type='hidden' name='event_id' value='<%= @event.id %>'>
            <input type='hidden' name='user_id' value='<%= current_user.id%>'>
            <input class="btn btn-info" type='submit' value="Cancel">
          </form>
          <% else %>
          <form class="joiners" action='/joins' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='event_id' value='<%= @event.id %>'>
            <input type='hidden' name='user_id' value='<%= current_user.id %>'>
            <input class="btn btn-primary" type='submit' value='Join'>
          </form>
          <%end%>
          <%end%>
          <%end%>
        </p>

        <div class='row'>
          <div id='event_time'>
            <a href="" class="glyphicon glyphicon-bullhorn"> Tell_a_friend</a>  ||
            <a href="" id="twitterShare" class="glyphicon glyphicon-share-alt"> Share</a>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class='col-sm-2'>
            <p></p>
            <button class='btn-lg btn-default glyphicon glyphicon-calendar media'></button>
          </div>
          <div class='col-sm-10'>
            <h3><%=@event.date.strftime("%A - %b %d, %Y") %></h3>
            <h4><%=@event.start.strftime(" %I:%M %p") %> to <%=@event.end.strftime(" %I:%M%p") %></h4>
          </div>
        </div>
        <hr>

        <div class='row'>
          <div class='col-sm-2'>
            <p></p>
            <button class='btn-lg btn-default glyphicon glyphicon-map-marker media'></button>
          </div>
          <div class='col-sm-10'>
            <h3><%=@event.name %><a style='font-size: 15px;' id='eventpad' href=""> - Directions</a></h3>
            <h4><%=@event.address %></h4>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class='col-sm-2'>
            <p></p>
            <button class='btn-lg btn-default glyphicon glyphicon-piggy-bank media'></button>
          </div>
          <div class='col-sm-10'>
            <h3>Event Cost: <%=@event.price%></h3>
            <h4>Total Capcity: <%=@event.capacity%></h4>
          </div>
        </div>
        <hr>

        <div class='row'>
          <div class='col-sm-2'>
            <button class='btn-lg btn-default glyphicon glyphicon-list-alt media'></button>
          </div>
          <div class='col-sm-10'>
            <h5><%=@event.description %>
            </div>
          </div>
          <hr>

        </div>

        <!-- ============ Right Panel ========== -->
        <div class='col-xs-12 col-sm-4' id='rightPanel'>

          <div id='eventComments' class="box" data-spy="scroll" data-target=".navbar" data-offset="50">
            <p id='comments' > Event Discussion  <p>
              <% @comments.each do |c| %>
              <p>
                <img id='chatImage' src="<%=c.user.image.url%>" alt="" /><%= c.user.first_name %>: <%= c.content %><br>
              </p>
              <% end %>

            </div>
            <form data-remote="true" id='comment_form' class="animated slideInRight" action="/comments" method="post">
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='event_id' value='<%= @event.id%>'>
              <input type='hidden' name='user_id' value='<%= current_user.id%>'>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-comment"></i>
                <input type="text" name='comment'class="form-control" />
                <input type="submit" class='btn-primary pull-right' value="Add Comment">
              </div>
            </form>
          </div>
        </div>
      </div>
      <% if @event.users_joined.include? current_user %>
      <br>
      <div class='board'>
        <button id='dashboard' type="button" class='btn-lg btn-info'><a href="#event_title">Top</a></button><br><br>
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9 ">
            <div class='animated swing info'>
              <img id='pin' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5UMh2EzCS91yNJiB4Vtk-prjaecmHA6lBT4V7bZnichoHhHYi" alt="" />
              <h1><%= @event.name %></h1>
              <label for="host">Host: </label> <%= @event.user.first_name %> <%= @event.user.last_name %><br>
              <label for="date">Date: </label> <%= @event.date.strftime("%A - %b %d, %Y") %><br>
              <label for="host">Time: </label> <%= @event.start.strftime(" %I:%M %p") %> to <%= @event.end.strftime(" %I:%M %p") %><br>
              <label for="host">Location: </label> <%= @event.county %><br>
              <label for="host">Price: </label>  <%= @event.price %><br><br>
            </div><br>
          </div>
        </div>
      </div>
      <%end%>

      <!-- ====== Map ======= -->
      <script type="text/javascript">
      $( document ).ready(function() {
        $('#eventpad').click(function() {
          window.location.replace("/maps/<%= @event.id %>");
        });
      });
      </script>
    </body>
