<link rel="stylesheet/new.css" href="/stylesheets/new.css" media="screen">
<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip({
    placement : 'top'
  });
});
</script>
<style media="screen">
body{
  margin:10px;
}
</style>
<br>
<br>
<nav class='navbar navbar-default' role='navigation' id='navbar'>
  <div class='container fluid'>
    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-picture"></span> E.N.Y.</a>
    <ul class="nav navbar-nav pull-right">
      <li class="active"><a href="/events/new"><span class="glyphicon glyphicon-pencil"></span> Start an Event<span class="sr-only">(current)</span></a></li>
      <li id="profileline"><span style="display:inline-block;"><a href="/users/<%=@user.id%>" style="background-image: url(<%=@user.image.url%>);" id='profile'>&nbsp; &nbsp; &nbsp;</a><a href="/users/<%=@user.id%>"> Profile <span class="glyphicon glyphicon-user"></span></a></span></li>
    </ul>
  </div>
</nav>

<div class='col-md-12'>
  <div class='header'>
    <div class='col-xs-8 col-sm-8 col-md-6 col-lg-6'>
      <h3>Welcome <%= @user.first_name %>!</h3>
    </div>
    <div class='col-xs-4 col-sm-4 col-md-6 col-lg-6'>
      <div class='pull-right' id='members'>
        <h5> Total Memebers: <div class='circle'><%= @users.count %></div></h5>
        <h5> Total Events Near You: <div class='circle'><%= @events.count %></div></h5>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <ul class="nav nav-tabs pull-right">
    <li role="presentation"><a href="/users">Current</a></li>
    <li role="presentation"><a href="/pevent/<%=@user.id %>">Past Events</a></li>
    <li role="presentation" class="active"><a href="">Column View</a></li>
  </ul>
</div>
<br>
<div id='current' class='row'>
  <ul class="nav nav-tabs pull-right">
    <li class="active" role="presentation"><a href="#current">Current Events</a></li>
    <li role="presentation"><a href="#past">Past Events</a></li>
  </ul>
  <table class='animated slideInDown table table-bordered'>
    <thead>
      <tr class="success">
        <th>Name</th>
        <th>Date</th>
        <th>Host</th>
        <th>Joined</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |e| %>
      <tr class="warning">
        <% if e.state == @user.state%>
        <td><a href="/event/<%=e.id%>" data-toggle="tooltip" data-original-title="Event Details" ><%=e.name%></a></td>
        <td><%=e.date.strftime("%A - %b/%d/%y")%></td>
        <td><%=e.user.first_name%> <%=e.user.last_name%></td>
        <td><%=e.joins.count%></td>
        <td>
          <% if current_user == e.user %>
          <a href="/events/<%=e.id%>" data-toggle="tooltip" data-original-title="Edit your Event">Edit</a>

          <form action='/events/<%= e.id %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='delete'>
            <input class="btn-xs btn-danger" data-toggle="tooltip" data-original-title="Delete your Event" type='submit' value='Delete'>
          </form>
          <% else%>

          <% if e.users_joined.include? current_user %>
          <!-- <a href="#">Attending</a><br> -->
          <form action="/joins" method="post">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='delete'>
            <input type='hidden' name='event_id' value='<%= e.id %>'>
            <input type='hidden' name='user_id' value='<%= @user.id%>'>
            <input class="btn-sm btn-warning" type='submit' value="Cancel">
          </form>
          <% else %>
          <form action='/joins' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='event_id' value='<%= e.id %>'>
            <input type='hidden' name='user_id' value='<%= @user.id %>'>
            <input class="btn btn-primary" type='submit' value='Join'>
          </form>
          <%end%>
          <%end%>
        </td>
        <%end%>
      </tr>

      <%end%>
    </tbody>
  </table>
</div><br>
<div id='past' class='row'>
  <ul class="nav nav-tabs pull-right">
    <li role="presentation"><a href="#current">Current Events</a></li>
    <li class="active" role="presentation"><a href="#past">Past Events</a></li>
  </ul>

  <table class='animated slideInDown table table-hover table-striped table-bordered'>
    <thead>
      <tr class="success">
        <th>Event</th>
        <th>Date</th>
        <th>Host</th>
        <th>Joined</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @pasts.each do |e| %>
      <tr class="warning">
        <td><a href="/event/<%=e.id%>" data-toggle="tooltip" data-original-title="Event Details" ><%=e.name%></a></td>
        <td><%=e.date.strftime("%A - %b/%d/%y")%></td>
        <td><%=e.user.first_name%></td>
        <td><%=e.joins.count%></td>
        <td>
          <% if e.users_joined.include? current_user %>
          <a href="#" data-toggle="tooltip" data-original-title="Attended this Event">Attended</a><br>
          <form action="/joins" method="post">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='delete'>
            <input type='hidden' name='event_id' value='<%= e.id %>'>
            <input type='hidden' name='user_id' value='<%= @user.id%>'>
            <!-- <input class="btn btn-info" type='submit' value='Cancel'> -->
          </form>
          <% else %>
          <a href="#" data-toggle="tooltip" data-original-title="Did not Attend">Did not Attend</a><br>
          <form action='/joins' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='event_id' value='<%= e.id %>'>
            <input type='hidden' name='user_id' value='<%= @user.id %>'>
            <!-- <input class="btn btn-primary" type='submit' value='Join'> -->
          </form>
          <%end%>
          <% if current_user == e.user %>
          <!-- <a href="/events/<%=e.id%>"  data-toggle="tooltip" data-original-title="Edit your Event">Edit</a> -->
          <form action='/events/<%= e.id %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='delete'>
            <input class="btn btn-danger"  data-toggle="tooltip" data-original-title="Delete your Event" type='submit' value='Delete'>
          </form>
        </td>
        <%end%>
      </tr>

      <%end%>
    </tbody>
  </table>
